body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
form {
    max-width: 600px;
    margin: auto;
}
label, input {
    display: block;
    margin-bottom: 10px;
}
input[type="submit"] {
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
.joueur {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}
.joueur label {
    display: inline-block;
    width: 100px;
}
.joueur input {
    display: inline-block;
    width: calc(100% - 120px);
}
.remove-joueur {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.remove-joueur:hover {
    background-color: #d32f2f;
}

.joueur-card .player-card .title {
    color: #00aeff !important;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9) !important;
}
