{# Inclus dans les deux branches de mon_compte_liaison.html : avec ou sans
   fiche libre a revendiquer, le nouvel arrivant doit avoir une issue.
   Le nom n'est pas saisi ici, le backend prend le pseudo Discord. #}
<p class="has-text-weight-semibold">Vous n'avez pas encore de fiche ?</p>
<p class="is-size-7 has-text-grey mb-3">
    Demandez la création d'une nouvelle fiche à votre nom. Elle sera créée
    au pseudo <strong>{{ moi.pseudo }}</strong>, après validation par un
    administrateur. Rien n'est créé avant.
</p>
<button class="button is-link is-light is-fullwidth" id="btn-nouveau">
    <span class="icon"><i class="fas fa-user-plus"></i></span>
    <span>Nouveau joueur</span>
</button>
