<!-- templates/confirmation.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/dark-mode.css">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/mario/mario-static.png') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/mario/mario-static.png') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/mario/mario-static.png') }}">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Les informations du tournoi ont été ajoutées avec succès !</h1>
            <a href="/" class="button is-primary">Retour à l'accueil</a>
        </div>
    </section>
    {% include 'footer.html' %}
</body>
</html>
