<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong class="has-text-info">MK Reset</strong> <span class="tag is-dark is-rounded is-light" style="font-size: 0.7rem; height: 1.5em;">v{{ app_version }}</span>
            | <i> Développé par Kemoory, Evowind et J_sk8</i>
        </p>
        <p class="is-size-7">
            <a href="/confidentialite">Politique de confidentialité</a>
            &nbsp;·&nbsp;
            <a href="/mentions-legales">Mentions légales</a>
        </p>
    </div>
</footer>
